<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <style>
    .page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .header-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .header {
      font-size: 40px;
    }
  </style>
</head>
<body>
  <div class="page">
    <header class="header-wrapper">
      <h1 class="header">
        {{ title }}
      </h1>
    </header>
    <hr>
    {% block content %}{% endblock %}
  </div>
</body>
</html>